<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <p>Team Name: <%=params[:name]%></p>
    <p>Coach: <%=params[:coach]%>
    <p>Point Guard: <%=params[:pg]%>
    <p>Shooting Guard: <%=params[:sg]%>
    <p>Small Forward: <%=params[:sf]%>
    <p>Power Forward: <%=params[:pf]%>
    <p>Center: <%=params[:c]%>
 </body>
</html>


